main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero {
  display: flex;  
  align-items: center;
  gap: 12px;
}
.hero img {
  max-height: 80px;
}
.clear-box {
  display: flex;  
  width: 100%;
  justify-content: space-evenly;
  padding: 8px;
  max-width: 1200px;
  border: 1px solid white;
  border-radius: 8px;
}
.main-content {
  background-color: steelblue;
}
.sidebar {
  width: 300px;
}
.details-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;    
}
.details-wrapper .header-row {
  display: flex;
  justify-content: space-around;
  
}
.details-wrapper .detail-item {
  display: flex;
  justify-content: space-around;
  
}
.execution-bar {
  margin-top: 32px;  
  background-color: bisque;
}
.runs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: scroll;
}
.runs-wrapper .header-row {
  display: flex;
  justify-content: space-around;
}
.runs-wrapper .run-item {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  border: 1px solid ivory;
  padding: 8px;
  border-radius: 16px;
}