main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero img {
  max-height: 80px;
}
.runs-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 80%;
}
.runs-wrapper p {
  border: 1px solid ivory;
  padding: 8px;
  border-radius: 16px;
}